<div class="bootstrap-wrapper">
  <span class="close-button" (click)="closeSignInPopUp()">&times;</span>
    <div class="container row">
      <div class="login-sidebar col-md-4">
          <img src="/assets/login-bgv.svg">
      </div>
      <div class="login-form col-md-8">
        
        <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Sign In</h2>
        <div *ngIf="hasError" class="alert alert-danger" role="alert">
          {{errorMessage}}
        </div>
        <form (ngSubmit)="onSubmit()"> 
          <input type="text" name="email" class="form-control no-border" 
          [(ngModel)]="credentials.email" placeholder="Enter email">
          <br>
          <input type="password" name="password" class="form-control no-border" 
          [(ngModel)]="credentials.password" placeholder="Enter Password">
          <br>
          <button type="submit" value="Login">Login </button>
        </form>
        <div class="signup-link">
          Don't have an account? <a (click)="openSignUpDialog()">Sign up</a>
        </div>
      </div>
    </div>
</div>
