<div class="bootstrap-wrapper">
    <div class="row p-2" style="background-color: rgb(228, 228, 228);">
        <div class="col-md-1"></div>
        <div class="col-md-8"> <h2>Book Your Ticket in {{train.trainName}}</h2></div>
    </div>
    <div class="row mt-4 train-detail">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <img src="/assets/trainImage.avif">
        </div>
        <div class="col-md-5 me-2">
            <h2 style="background-color: rgb(13, 0, 86); color: white;">
                {{train.trainId}}-{{train.trainName}}
            </h2>
            <table>
                <tr>
                    <h3>From Station:</h3><td>{{searchDetail.sourceStation}}</td>
                </tr>
                <tr>
                    <h3>To Station:</h3><td>{{searchDetail.destStation}}</td>
                </tr>
                <tr>
                    <h3>Journey Date</h3><td>{{searchDetail.dateOfJourney}}</td>
                </tr>
                <tr>
                    <h3>Departure Time:</h3><td>{{train.departureTime}}</td>
                </tr>
                <tr>
                    <h3>Arrival Time:</h3><td>{{train.arrivalTime}}</td>
                </tr>
                <tr>
                    <h3>SeatType:</h3><td>{{seatType}}</td>
                </tr>
                <tr>
                    <h3>Ticket Fare:</h3><td>{{fare}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="container passenger-container">

        <div>
            <h2 class="passenger-details-heading">Enter Passenger Details</h2>
            <form class="mt-3" [formGroup]="passengerForm">
                <table>
                    <tr>
                        <td>Enter Passenger Details:</td>
                        <td>
                            <input type="text" class="form-control no-border" placeholder="Enter Passenger Name" name="name" [(ngModel)]="fullName" formControlName="name">
                            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
                                <div *ngIf="name.errors.required">Full Name is required.</div>
                                <div *ngIf="name.errors.pattern">Full Name should only contain letters and spaces.</div>
                            </div>
                        </td>
                        
                        <td>
                            <input type="text" class="form-control no-border" placeholder="Enter Age" name="age" [(ngModel)]="age" formControlName="passengerAge">
                            <div *ngIf="passengerAge.invalid && (passengerAge.dirty || passengerAge.touched)" class="text-danger">
                                <div *ngIf="passengerAge.errors.required">Age is required.</div>
                                <div *ngIf="passengerAge.errors.min">Age should not be negative</div>
                            </div>
                        </td>
                        <td>
                            <select name="gender" class="form-control no-border" name="gender" [(ngModel)]="gender" formControlName="gender">
                                <option value="" disabled selected>Select your Gender</option>
                                <option value="Female">Female</option>
                                <option value="Male">Male</option>
                            </select>
                        </td>
                        <td><button type="submit" class="btn btn-success" (click)="addPassenger()" [disabled]="passengerForm.invalid">Add Passenger</button></td>
                        <td><button type="reset" class="btn btn-danger">Reset</button></td>
                    </tr>
                    <tr *ngIf="limitExceed" class="alert alert-warning" role="alert">
                        {{passengerLimitMessage}}
                    </tr>
                </table>
            </form>
        </div>

        <div >
            <h2 class="passenger-details-heading">All Passenger Details</h2>
            <table>
                <th>Name</th>  <th>Age</th>  <th>Gender</th>
                <tr *ngFor="let passenger of passengerDetails">
                    <td>{{passenger.name}}</td>
                    <td>{{passenger.age}}</td>
                    <td>{{passenger.gender}}</td>
                </tr>
            </table>
            <div *ngIf="!isPassengerEmpty" class="text-center">
                <button type="button" class="btn btn-warning" (click)="onSubmit()">Book Now</button>
            </div>
        </div>

    </div>
</div>