<nav class="navbar navbar-expand-lg navbar-dark p-3" style="background-color: #000000ee;" >
    <div class="container">
      <img src="/assets/train.png" style="height:45px">
      &nbsp;<a class="navbar-brand" routerLink="/">IRCTC Booking</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div *ngIf="!isRoleAdmin()" class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
            <a class="nav-link" routerLink="/">Home</a>
            <a class="nav-link" routerLink="/pnrstatus">PNR Status</a>
            <a class="nav-link" routerLink="/mybookings">My Bookings</a>
            <button *ngIf="!isLoggedIn()" class="btn btn-light" (click)="openSignInDialog()">SignIn&nbsp; <i class="fa fa-user" aria-hidden="true"></i></button>
            <div *ngIf="isLoggedIn()" class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                  data-bs-toggle="dropdown">
                <img src="/assets/user.png" width="40" height="40" class="d-inline-block">
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="">Profile</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" (click)="logoutUser()">Sign Out</a></li>
              </ul>
            </div>
        </div>
      </div>

      <div *ngIf="isRoleAdmin() && isLoggedIn()" class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-link" routerLink="/">Home</a>
          <a class="nav-link" routerLink="/addtrain">Add Train</a>
          <!-- <a class="nav-link" routerLink="">Update Train</a> -->
          <a class="nav-link" routerLink="/updatestation">Update Stations</a>
          <div *ngIf="isLoggedIn()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown">
              <img src="/assets/user.png" width="40" height="40" class="d-inline-block">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="">Profile</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" (click)="logoutAdmin()">Sign Out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>