.navbar{
    border-radius: 0px 0px 20px 20px;
}
.navbar-nav{
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: larger;
}
.nav-link{
    color: rgb(255, 255, 255);
}
.navbar-nav button{
    font-family: "Helvetica Neue", Arial, sans-serif;
    border-radius: 15px;
}
.nav-item .nav-link{
    margin-left: 10px;
    padding: 0px;
}
.right-element{
    flex: 1 1 auto;
}