<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000d2;" >
    <div class="container">
      <img src="/assets/train.png" style="height:40px">
      <a class="navbar-brand" routerLink="/">BookTrain</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
            <a class="nav-link" routerLink="/searchtrain">Search Train</a>
            <a class="nav-link" routerLink="/addtrain">Add Train</a>
            <a *ngIf="!loggedIn" class="nav-link" routerLink="/login">Login</a>
            <a *ngIf="loggedIn" class="nav-link" name="user" >{{user}}</a>
            <button *ngIf="loggedIn" (click)="logoutUser()" class="nav-link" >Logout</button>
        </div>
      </div>
    </div>
  </nav>