<app-search-page></app-search-page>
<div class="container-fluid" style="background-color: rgba(245, 245, 245, 0.667);">
  <div class="container p-5 pb-2">
    <h1 class="home-heading p-5 pb-0">Trains in the INDIA</h1>
    <p class="p-5 pt-1 pb-0">A trip through the INDIA by train is an adventure through metropolises, national parks, historical sites, vast landscapes, plains, and mountains. Traveling by train is also a chance to appreciate the diversity and the vastness of the United States of America. The railroad network is extensive and you have plenty of choices.</p>
    <p class="p-5 pt-1 pb-0">Amtrak's Empire Builder is a popular train route in the Pacific Northwest. The trip takes an estimated 46 hours and trails the Lewis & Clark trail from Chicago to Seattle or Portland. The train snakes its way through Mississippi, Minneapolis, the North Dakota Plains, and the Glacier National Park.</p>
    <p class="p-5 pt-1 pb-0">The trip between Seattle and Los Angeles is also popular among travelers. The Coast Starlight takes passengers through a Grand West Coast adventure, winding through Sacramento, the San Francisco Bay Area, and Portland. The landscape comprises of the Pacific Ocean shoreline, snow-covered peaks of the Cascade Range and fertile forest cover.</p>
    <p class="p-5 pt-1 pb-0">Away from the lush landscapes is the Grand Canyon Railway. On the way, travelers encounter sprawling prairies, pine forests, and sometimes wild horses. Grab a cowboy hat to remember the cowboys and bandits that once roamed the tracks.</p>
  </div>

  <div class="container p-5 pt-0">
    <h1 class="home-heading p-5 pb-0">Book train tickets in the INDIA with IRCTC</h1>
    <p class="p-5 pt-1 pb-0">Travelers can rely on IRCTC to book trains in INDIA. 
      First, access the website and key in your pickup point, destination, and travel date.
      INDIA redirects you to a website showing available trains in the INDIA, including 
      ticket prices and the location of the stations. You can use offers and discounts to lower 
      the cost of your ticket. For alerts on prices, it is wise to switch on notifications on 
      the Omio app and stay vigilant until the date of your trip. Once booked, IRCTC sends the 
      tickets to your mobile phone for quick access.</p>
  </div>
  
</div>

